// <--------公共基础样式------->
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html,body{background-color:#f7f7f7;color: #202020;}
strong,span,i{font-style:normal;}

// <--------自定义按钮样式------->
.btn-custom{
    background: linear-gradient(to right, #ff6e1f 0%,#e73827 100%);
    color: #ffffff;border-radius: 6px;
    span{
        color: #ffffff;
    }
}

// <--------文字超出省略------->
.ellipsis{
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

// <--------导航返回按钮颜色------->
.van-nav-bar .van-icon {
    color: #202020;
    vertical-align: middle;
}
.van-nav-bar__text{
    color: #202020;
}

// <--------路由切换动画------->

.slide-left-enter{
    transform:translateX(100%);
}
.slide-left-enter-to{
    transform:translateX(0%);
}
.slide-left-leave{
    transform:translateX(0);
}
.slide-left-leave-to{
    transform:translateX(-80%);
}

.slide-right-enter{
    transform:translateX(-80%);
}
.slide-right-enter-to{
    transform:translateX(0%);
}
.slide-right-leave{
    transform:translateX(0);
}
.slide-right-leave-to{
    transform:translateX(100%);
}

.slide-right-leave-active,
.slide-right-enter-active,
.slide-left-enter-active,
.slide-left-leave-active{
    transition:0.4s all;
}








